.box{
  display: flex;
  flex-direction: row-reverse;
  .sub-box{
    margin-left:100px;
    padding-top: 100px;
    flex: 0 0 50%;
    .sub-title{
      padding: 0 10px 30px 0;
    }
    .price-box{
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 400px;
      .number{

      }
    }
    .text{
      max-width: 425px;
      padding-bottom: 50px;
    }
  }
  .img{
    flex: 0 0 50%;
  }
}
.flex-reverse{
  flex-direction: row;
}

