<div class="block-swiper">
  <swiper
    #swiperComment
    [slidesPerView]="2"
    [spaceBetween]="0"
    [navigation]="true"
    [autoplay]="true"
    [centeredSlides]="false"
    [pagination]="{ clickable: true }"
    (slideChange)="onSwiperSlideChange()"
  >
    <ng-template swiperSlide *ngFor="let item of content">
      <app-comments [commentData]="item"></app-comments>
    </ng-template>
  </swiper>

  <div class="box-arrows">
    <span
      class="material-symbols-outlined right"
      (click)="onPrevClick()"
      [ngClass]="countSlider > 0 ? 'arrow-active' : ''"
      >trending_flat</span
    >
    <span
      class="material-symbols-outlined left"
      (click)="onNextClick()"
      [ngClass]="countSlider <= lengthArray ? 'arrow-active' : ''"
      >trending_flat</span
    >
  </div>
</div>
