<div class="popup-wrapper">
  <div class="btn-box">
    <h1 mat-dialog-title class="nj-h4">
      Напишіть Ваше <span class="nj-greenText">питання</span>
    </h1>
    <button
      mat-icon-button
      matTooltip="Warn"
      color="warn"
      aria-label="Example icon-button with a heart icon"
      class="btn-cancel"
      (click)="closeDialog(false)"
    >
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
  <div class="mat-dialog-content">
    <div class="profile-box">
      <mat-form-field appearance="outline">
        <mat-label>Ведіть прізвище</mat-label>
        <input class="nj-p" matInput placeholder="Українка" required />
        <mat-icon matSuffix>edit</mat-icon>
        <!--        <mat-hint class="nj-p">Прізвище</mat-hint>-->
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label class="">Ведіть ім'я</mat-label>
        <input class="nj-p" matInput placeholder="Леся" required />
        <mat-icon matSuffix>edit</mat-icon>
        <!--        <mat-hint class="nj-p">Ім'я</mat-hint>-->
      </mat-form-field>
    </div>

    <div class="contacts-box">
      <mat-form-field appearance="outline">
        <mat-label>Ведіть Ваш Телефон</mat-label>
        <input class="nj-p" matInput placeholder="093-333-33-33" required />
        <mat-error></mat-error>
        <mat-icon matSuffix>phone</mat-icon>
        <!--      *ngIf="email.invalid" {{getErrorMessage()}}-->
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Напишіть Ваше питання чи комментар?</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>

    <div class="mat-dialog-actions">
      <app-main-button
        mat-dialog-close
        [text]="'Надіслати'"
        (click)="closeDialog(true)"
      ></app-main-button>
    </div>
  </div>
</div>
