@import "../../shared/colors.scss";

.footer {
  background: $background;
  padding: 100px 70px;

  @media (max-width: 1024px) {
    padding: 60px 20px;
  }
  .footer-box {
    display: flex;
    @media (max-width: 767px) {
      gap: 30px;
      @media (max-width: 600px) {
        gap: 20px;
        @media (max-width: 600px){
          gap: 20px;
        }
      }
    }
    .logo-column {
      flex: 0 1 30%;
      padding-left: 10%;
      @media (max-width: 1200px) {
        padding-left: 0;
        flex: 0 1 25%;
        @media (max-width: 1024px) {
          flex: 0 1 20%;
          @media (max-width: 500px) {
            display: flex;
            align-items: center;
            padding-bottom: 25px;
          }
        }
      }
      .box-logo {
        .logo {
          width: 92px;
          display: block;
          @media (max-width: 500px) {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
    .box-information {
      flex: 1 1 auto;
      display: flex;
      justify-content: space-evenly;
      @media (max-width: 1200px) {
        justify-content: space-between;
        a {
          font-size: 15px;

          @media (max-width: 700px){
            font-size: 12px;
          }
        }
      }
    }
    .box-information a:hover{
      color: $btnBg;
    }
  }
}
.title {
  padding-bottom: 20px;

    @media (max-width: 767px) {
      font-size: 15px;
      @media (max-width: 600px) {
        font-size: 13px;
      }
    }

}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: $textTransparent;

  @media (max-width: 500px){
    align-items: center;
  }
  a {
    color: $textTransparent;
  }

  .row-contact {
    display: flex;
    align-items: center;
    gap: 15px;
    transition: .5s ease;
    width: 185px;
    overflow-y: scroll;
    @media (max-width: 700px){
      gap: 5px;
      width: 120px;

      @media (max-width: 500px){
        overflow: initial;
        width: 100%;
      }
      span{
      width: 35px;
      height: 24px;
      @media (max-width: 500px){
        text-align: center;
        max-width: 50px;
        margin: 0 auto;
        }
      }
    }
    a {
      border-bottom: 2px solid transparent;
      transition: .5s ease;
      width: fit-content;
      @media (max-width: 500px) {
        display: none;
      }
    }
  }

  .row-contact:hover a,
  .row-contact:active a{
    @media (max-width: 500px) {
      display: block;
      width: 120%;
    }
  }
}
.row{
  border-bottom: 2px solid transparent;
  transition: .5s ease;
  height: 27px;
}
.row-contact{
  border-bottom: 2px solid transparent;
  transition: .5s ease;
}
.row:hover,
.row-contact:hover,
.row-contact a:hover{
  transition: .5s ease;
  color: $btnBg;
  border-bottom: 2px solid $btnBg;
  font-weight: bold;
}

.social-box h3 .row:active {
  display: none;
}

.bottom {
  background-image: url("/assets/images/footer-bg.svg");
  height: 60px;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: $btnColor;
  }
}
.mat-icon {
  width: 35px;
  display: flex;
  align-items: center;
  @media (max-width: 700px){
    height: 24px;
    width: 30px;
  }
}
.material-symbols-outlined{
  width: 35px;
}
