<footer class="footer">
  <div class="footer-box">
    <div class="logo-column">
      <div class="box-logo">
        <a href="" class="logo"><img src="assets/images/logo.svg" alt=""></a>
      </div>
    </div>

    <div class="box-information">
      <div class="blocks-column">
        <h3 class="nj-h4 title">Інформація</h3>
        <div class="links">
          <a class="nj-p row" href="">Про нас</a>
          <a class="nj-p row" href="">Меню</a>
          <a class="nj-p row" href="">Блог</a>
        </div>
      </div>

      <div class="social-box">
        <h3 class="nj-h4 title">Медіа</h3>
        <div class="links">
          <div class="location row-contact">
            <span class="material-symbols-outlined">where_to_vote</span>
            <a class="nj-p" href="">Київ</a>
          </div>

          <div class="mail row-contact">
            <span class="material-symbols-outlined">mark_email_unread</span>
            <a class="nj-p" href=""> mail@mail.com</a>
          </div>

          <div class="phone row-contact">
            <span class="material-symbols-outlined">call</span>
            <a class="nj-p" href="">+3(8093)111-22-33</a>
          </div>
        </div>
      </div>

      <div class="contact-column">
        <h3 class="nj-h4 title">Контакти</h3>
        <div class="links">
          <div class="location row-contact">
            <span class="material-symbols-outlined">where_to_vote</span>
            <a class="nj-p" href="">Київ</a>
          </div>

          <div class="mail row-contact">
            <span class="material-symbols-outlined">mark_email_unread</span>
            <a class="nj-p" href=""> mail@mail.com</a>
          </div>

          <div class="phone row-contact">
            <span class="material-symbols-outlined">call</span>
            <a class="nj-p" href="">+3(8093)111-22-33</a>
          </div>
        </div>

      </div>

    </div>

  </div>

</footer>
<div class="bottom">
  <p class="nj-p">© 2023 Всі права захищені</p>
</div>
