@import "../../shared/colors.scss";

.why-we {
  background: $background;
  padding-bottom: 100px;
  @media (max-width: 600px) {
    padding-bottom: 50px;
  }

  .main-title {
    text-align: center;
  }

  .wrapper-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 1024px) {
      justify-content: inherit;
      @media (max-width: 600px) {
        flex-direction: column;
        gap: 10px;
      }
    }
    .box{
      flex: 0 1 30%;
      gap: 10%;
    }
  }
}
