<section class="why-we">
  <div class="nj-container">
    <h2 class="nj-h2 pd-title main-title">Чому ми?</h2>
    <div class="box">

      <div class="items">
        <a href="" class="link">
          <img src="../../../../assets/images/fb.png" alt="">
        </a>
        <h4 class="nj-h3 title">Facebook</h4>
        <div class="box-text">
        <div class="span"></div> <p class="nj-p text">більше <span class="number">11 000</span> годин;</p>
        </div>
        <div class="box-text">
        <div class="span"></div> <p class="nj-p text">на сторінці<span class="number">10 000+</span> підписників;</p>
        </div>
      </div>

      <div class="items">
        <a href="" class="link">
          <img src="../../../../assets/images/you-tube.png" alt="">
        </a>
        <h4 class="nj-h3 title">Youtube</h4>
        <div class="box-text">
        <div class="span"></div> <p class="nj-p text">більше <span class="number">200 000+</span> переглядів;</p>
        </div>
          <div class="box-text">
        <div class="span"></div> <p class="nj-p text">на каналі <span class="number">3000+</span> підписників;</p>
          </div>
      </div>

      <div class="items">
        <a href="" class="link">
          <img src="../../../../assets/images/telegram.png" alt="">
        </a>
        <h4 class="nj-h3 title">Telegram</h4>
        <div class="box-text">
        <div class="span"></div> <p class="nj-p text">Группа для замовлення</p>
        </div>
      </div>

    </div>
      <div class="box bottom-box">
        <div class="bottom-items">
          <h1 class="bottom-number subtitel-numbers">10 000+</h1>
          <p class="bottom-text nj-h4 subtext">Підписників</p>
        </div>

        <div class="bottom-items">
          <h1 class="bottom-number subtitel-numbers">200 000+</h1>
          <p class="bottom-text nj-h4 subtext">Переглядів</p>
        </div>

        <div class="bottom-items">
          <h1 class="bottom-number subtitel-numbers">100+</h1>
          <p class="bottom-text nj-h4 subtext">Замовлень</p>
        </div>

    </div>
  </div>
</section>
