@import "../shared-styles.scss";
@import "../colors.scss";

.carousel-box {
  position: relative;
  margin: auto;
  text-align: center;
  width: 550px;
  border-radius: 20px;

  .fade{
    animation-name: fade;
    animation-duration: 1.5s;
  }
  img {
    display: none;
    border-radius: 20px;
  }

  img.image-active {
    display: block;
    width: 100%;
    height: 450px;
  }
  .box-dots{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 135px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 10px;

    .dots{
      cursor: pointer;
      height: 13px;
      width: 13px;
      margin: 0 5px;
      background: $btnBg;
      border-radius: 50%;
      display: inline-block;
      transition: opacity .6s ease;
      opacity: .6;

    }
    .active,
    .dots:hover{
      opacity: 1;
    }
  }
}

@keyframes fade {
  from{
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
