$mainColor: #151414;
$pColor: #181d19;
$subColor: #3b433e;
$cartBorder: #ebebeb;
$cartShadow: #3b433e1d;
$greenText: #e1f2e1;
$greenOpacity: #64bb47;
$btnBg: #369c50;
$btnColor: #ffff;
$background: #fcfcfc;
$textTransparent: #657582;
