$mainColor: #151414;
$pColor: #181D19;
$subColor: #3B433E;
$cartBorder: #EBEBEB;
$cartShadow: #3b433e1d;
$greenText: #E1F2E1;
$btnBg:#369C50;
$btnColor: #ffff;
$background: #FCFCFC;
$textTransparent: #657582;
