<div class="box nj-border">
  <img class="img" [src]="cardData?.img" alt="">
  <h3 class="title nj-h3 nj-textCenter">{{cardData?.title}}</h3>
  <div class="box-text">
  <p class="nj-p first-text">Ви отримаєте<span class="nj-salatText">{{cardData?.firstDescription}}</span></p>
  <p class="text nj-p">{{cardData?.description}}</p>
  </div>
<!--  <div class="price-box">-->
<!--  <p class="price price-text nj-h4">Всього за:</p>-->
<!--  <p class="number nj-h3 nj-textCenter">{{cardData?.price}}</p>-->
<!--    <span class="currency">₴</span>-->
<!--  </div>-->
<!--  <div class="btn nj-textCenter">-->
<!--    <app-main-button [text]="'Замовити'"></app-main-button>-->
<!--  </div>-->

</div>
