@import "../../shared/colors.scss";
@import "../../shared/shared-styles.scss";

.single-menu-bloc{
  .title{
    @media (max-width: 500px){
      padding: 50px 0 0px;
    }
  }
    .item{
      padding-bottom: 150px;
      @media (max-width: 700px) {
        border-radius: 20px;
        box-shadow: 5px 2px 10px $cartShadow;
      }
    }
}

