
<div class="items">

  <a href="" class="link">
    <img [src]="whyWeCardData?.img" alt="">
  </a>
  <h4 class="nj-h3 title">
    {{whyWeCardData?.title}}
  </h4>
  <div class="box-content">
    <div class="top-items">

      <div class="top-text" *ngFor="let text of whyWeCardData?.description">
        <div class="span"></div>
        <p class="nj-p text">{{text}}</p>
      </div>
    </div>

    <div class="bottom-items">
      <h3 class="bottom-number subtitel-numbers">{{whyWeCardData?.active?.numberOfActive}}</h3>
      <p class="bottom-text nj-h4 subtext">{{whyWeCardData?.active?.titleActive}}</p>
    </div>
  </div>

</div>
