@import "../colors.scss";
@import "../shared-styles.scss";

.btn {
  background: $btnBg !important;
  border-radius: 30px;
  padding: 17px 30px;
  color: $btnColor !important;
  font-family: $font-small !important;
  line-height: 130%;
  font-weight: bold;
}

