<section class="for-whom">
  <h2 class="nj-h2 pd-title title">Для кого мої рецепти</h2>
  <div class="nj-container">
     <div class="box">

         <div class="item">
           <img src="../../../../assets/images/first.jpg" alt="">
           <h5 class="nj-h5 subtitle">Молодих домогосподарок</h5>
           <p class="nj-p subColor text">Які тільки вчаться готувати смакоту.</p>
         </div>

         <div class="item">
           <img src="../../../../assets/images/sec.jpg" alt="">
           <h5 class="nj-h5 subtitle">Досвідчених господинь</h5>
           <p class="nj-p subColor text">Які бажають готувати за перевіреними рецептами.</p>
         </div>

         <div class="item">
           <img src="../../../../assets/images/third.jpg" alt="">
           <h5 class="nj-h5 subtitle">Чоловіків</h5>
           <p class="nj-p subColor text">Які хочуть зробити кулінарний сюрприз своїм коханим.
           </p>
         </div>

         <div class="item">
           <img src="../../../../assets/images/fours.jpg" alt="">
           <h5 class="nj-h5 subtitle">Заклопотаних матусь</h5>
           <p class="nj-p subColor text">Які щоразу задумуються над питанням, що приготувати рідним.</p>
         </div>

     </div>
  </div>
</section>
