.profile{
  .box{
    display: flex;
    align-items: center;
    @media (max-width: 600px){
      flex-direction: column;
    }
    .content-left{
      flex: 0 1 60%;
    }
    .img-box{
      @media (max-width: 600px){
        display: flex;
        justify-content: center;
      }
      img{
        @media (max-width: 600px){
          width: 40%;
        }
      }
    }
  }
}
