<section class="profile pd-pb100">
  <div class="nj-container">
    <div class="box">
      <div class="img-box">
        <img src="assets/images/tewa.png" alt="">
      </div>
      <div class="content-left">
        <h2 class="title nj-h2">Давайте знайомитись <br>я <span class="nj-greenText">теща Оля</span></h2>
        <p class="text nj-p">Мене звати Ольга Середа. Історія мого захоплення кулінарією тягнеться з самого дитинства. Спочатку спостерігала за мамою, потім і сама почала дивувати рідних смаколиками. Так з часом хоббі перетворилось у професійну діяльність.</p>
      </div>
    </div>
  </div>


</section>
