.profile{
  .box{
    display: flex;
    align-items: center;
    .content-left{
      flex: 0 1 60%;
    }

    //.img-box {
    //  background: url("../../../../assets/images/circles.png") no-repeat bottom 10px center;
    //  background-size: contain;
    //}
  }
}
