<section class="profile pd-pb100" id="profile">
  <div class="nj-container">
    <div class="box">
      <div
        class="img-box animate__animated animate__fadeIn delay-06s wow"
      >
        <img src="assets/images/tewa.png" alt="" />
      </div>
      <div class="content-left">
        <h2
          class="title nj-h2 animate__animated animate__fadeInDown wow"
          >
          Давайте знайомитись <br />я <span class="nj-greenText">теща Оля</span>
        </h2>
        <p
          class="text nj-p animate__animated animate__fadeInRightBig delay-06s wow"
        >
          Мене звати Ольга Середа. З самого дитинства люблю куховарити. Спочатку спостерігала за мамою, потім вишуковувала сама нові рецепти, щоб здивувати рідних смаколиками. Стараюсь, щоб мої страви були смачними, готувалися без зайвого клопоту та складалися з доступних інгредієнтів.
          <br>
          <br>
          Кожна нова страва, яку я пропоную підписникам, неодноразово приготована на моїй кухні, перевірена і продегустована рідними. Розумію, як важко молодим домогосподаркам кожен день придумувати меню для сім’ї, і тому, маючи достатню кількість кулінарних відео–рецептів на ютуб каналі


        </p>
      </div>
    </div>
  </div>
</section>
