<section class="main" id="main-top-block">


    <div class="box">
      <div class="nj-container-fluid">


      <div class="sub-box">
        <h1
          class="title nj-h1 animate__animated animate__fadeInDown wow"
        >
          Смакуй кожного дня <br />
          за рецептами від<br />
          <span class="nj-greenText nj name">тещі Олі</span>
        </h1>
        <p
          class="text nj-p animate__animated animate__fadeInUp delay-03s"
        >
          Добрий день! У наш час кулінарна тема все швидше набирає обертів, та й сама кулінарія давним-давно зробила крок за межі фантазії. І якщо раніше страви на наших столах мало чим відрізнялися, то тепер наш раціон переповнений достатком і різномаїттям.

        </p>
    </div>
      </div>
  </div>

    <div class="img animate__animated animate__fadeIn delay-13ms">
      <img src="assets/images/food.png" alt="" />
    </div>
</section>
