.main{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .box{
     display: flex;

    .sub-box{
     margin-left:100px;
     padding-top: 100px;
     flex: 0 0 50%;
      .title{
        margin: 0 10px 30px 0;
      }
      .text{
        max-width: 500px;
        padding-bottom: 50px;
        margin: 0;
      }
    }
    .img{
      flex: 0 0 50%;
    }
  }
}
