<section class="main">
    <div class="box">
      <div class="sub-box">
        <h1 class="title nj-h1">Смакуй кожного дня <br> по рецептам
          <br> від <span class="nj-greenText nj name">тещі Олі</span>
        </h1>
        <p class="text nj-p">
          Добрий день! У наш час все більше людей цікавляться кулінарією, адже вона вже давним-давно зробила крок за межі фантазії. І якщо раніше ми не приділяли достатньо уваги різноманіттю наших страв, то тепер намагаємось навіть у денний раціон додати щось особливе.

        </p>
        <app-main-button [text]="'Купити'"></app-main-button>
      </div>
      <div class="img">
        <img src="assets/images/food.png" alt="">
      </div>
    </div>
</section>
